body{
	margin: 0;
	padding: 1em;
	background-color: white;
	font-family: CourierNewPSMT;

	text-align: center;
	font-size: 20px;
	color:black;
}
p{
	margin: .5em
}
input{
	font-family: CourierNewPSMT;
	display: block;
	margin: 1em;
	font-size: 1em;
}
input[type="checkbox"]{
	display: inline;
}
.input{

	text-align: left;
	display: block;
	margin-left: 10%;
	margin-right: 10%;

}
.output{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2em;
	padding-bottom: 2em;
	text-align: left;
	font-size: 16px;
	color: white;
	background-color: #4F4F4F;
	margin-left: 10%;
	margin-right: 10%;

}

input[type="text"]{
	margin-left:10%5
	display: none;
}
input[type="submit"]{
	width: 6em;
	margin-left: 10%;
	height: 10em;

}
#output-text{
	text-align: left;

}
.hidden{
	display: none;
}
