<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/home.css">
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Caudex|Permanent+Marker|Playfair+Display+SC|Bangers|Cinzel+Decorative' rel='stylesheet' type='text/css'>

	<script type="text/javascript">
	String.prototype.escapeSpecialChars = function() {
	    return this.replace(/\\n/g, "\\n")
	               .replace(/\\'/g, "\\'")
	               .replace(/\\"/g, '\\"')
	               .replace(/\\&/g, "\\&")
	               .replace(/\\r/g, "\\r")
	               .replace(/\\t/g, "\\t")
	               .replace(/\\b/g, "\\b")
	               .replace(/\\f/g, "\\f");
	};
	$(document).ready(function(){
		var zheng = {{ Zheng | tojson | safe }};
		var zheng_params = zheng[1]
		// var zhengString = JSON.stringify(zheng[1])
		// var zhengStringEscaped = zhengString.escapeSpecialChars();
        console.log(zheng_params[0]);
        for (var i = 0; i < zheng_params.length; i++){
        	$('#zheng').append("<p>Paramter "+(i+1)+" </p>");
        	$('#zheng').append("<p>name: "+ zheng_params[i]['name'] +"</p>");
        	$('#zheng').append("<p>type: "+ zheng_params[i]['type'] +"</p>");
        	$('#zheng').append("<p>description: "+ zheng_params[i]['description'] +"</p>");
        	console.log(zheng_params[i]['description'])
        }


	})


	</script>

</head>


<body>

	<h1>HaloTools</h1>
<!-- 	<div>
		<p>Centrals</p>
		<p>Occ_Model</p>
		<p>Zheng</p>
		<p id="zheng-kargs"></p>
		<p>Leauthaud1</p>
	</div> -->
	<div id="zheng">
		<h3>Zheng</h3>
	</div>

</body>   

</html>